/* General form styling */
#examForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    background: linear-gradient(to right, #777bf1, #9884f4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

#examForm h2 {
    text-align: center;
    color: #5746a1;
    margin-bottom: 20px;
}

/* Form labels and inputs */
#examForm label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

#examForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Button container */
.button-container {
    text-align: center;
}

.create-questions-btn {
    /* background-color: #4CAF50; */
    background-color: #4348cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.create-questions-btn:hover {
    /* background-color: #45a049; */
    background-color: #3016a7;
}

/* Responsive layout */
@media (max-width: 500px) {
    #examForm {
        width: 90%;
    }

    #examForm input {
        padding: 10px;
    }

    .create-questions-btn {
        width: 100%;
        padding: 12px;
    }
}
